html, body {
    height: 100%;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: sans-serif;
}
.wrapper {
    width: 480px;
}
.wrapper h1, .wrapper P {
    text-align: center;
}
.wrapper h1 {
    margin-bottom: 1rem;
}
.wrapper p {
    font-size: 12px;
}
hr {
    border: 1px solid #efefef;
}
.table tr td {
    padding-left: .2rem ;
    padding-right: .2rem;
}
.photo  {
    width: 140px;
   border-radius: .5rem;
}
#rapi {
    
}